@media only screen and (max-width: 1000px) {
  .hidden {
    display: none;
    background: #000;
  }
}

@media only screen and (min-width: 1000px) {
  .show-canvas{
    display: none;
    background: #000;
  }
}

.fit-in-parent {
  width: inherit;
}
.container {
  max-width: 1440px;
}

.nav-form {
  position: absolute;
  padding-left: 73%;
}

.nav-ul {
  position: absolute;
  padding-left: 34%;
}
.header {
  height: 36px;
}

.join-us-link {
  border-left-width: 2px;
  border-left-style: solid;
  padding-left: 10px;
  padding-right: 10px;
  border-right-width: 2px;
  border-right-style: solid;
}

.link-dark {
  color: #212529;
  text-decoration: none;
  font-size: small;
  font-weight: inherit;
}
.div-navbar {
  height: 60px;
  color: #fff;
}
.navbar{
  padding-top: 0;
  padding-bottom: 0;
}
.nav-item{
  font-size: 16px;
  font-weight: 500;
}
.form-control{
  padding-left: 40px;
border-radius: 20px;
}

.btn-position{
  position: absolute;
}

.nav-form-ul-position{
  padding: 10px;
}
.small-link {
    font-size: 12px;
    color: black;
}

h1{
  font-size: 58px;
font-weight: bold;
}



.width-reset{
  width: 60% !important;
}

a:hover{
  opacity: .5;
}

li:hover{
  opacity: .5;
}
input:hover{
  background:lightgrey;
}

.nav-link{
  color: #000 !important;
}